.content-header {
	color: #C9C9C9;
	background-color: #141414;
}

.navbar-brand {
	color: #C9C9C9;
}
.navbar-brand:hover {
	color: #141414;
	background-color: #C9C9C9;
}

.menu-item {
	color: #C9C9C9;
}

.menu-item:hover {
	color: #141414;
	background-color: #C9C9C9;
}

.glyphicon-menu-hamburger {
	color: #C9C9C9;
	font-size: x-large;
}

body {
	color: #C9C9C9;
	background-color: #282828;

}