.content-header {
	color: #C9C9C9;
	background-color: #141414;
}

.navbar-brand {
	color: #C9C9C9;
}
.navbar-brand:hover {
	color: #141414;
	background-color: #C9C9C9;
}

.menu-item {
	color: #C9C9C9;
}

.menu-item:hover {
	color: #141414 !important;
	background-color: #C9C9C9 !important;
}

.glyphicon-menu-hamburger {
	color: #C9C9C9;
	font-size: x-large;
}

.description {
	padding: 20px;
}

.btn-default {
	color: #000000 !important;
	background-color: #C9C9C9 !important;
}

.home-picture {
	padding: 10px;
}

body {
	color: #C9C9C9;
	background-color: #282828;

}